.container{
    display: flex;
}

.half-width{
    margin-top: 80px;
}
.cart-item{
    margin-top: 80px;
}
.hr{
    background-color: black;
    border: 4px solid black;
}
.promo-section{
    margin-top: 10px;
    margin-bottom: 10px;
}
#promo-button{
    background-color: blue;
    color: white;
}